* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
}

body {
    display: flex;
    flex-wrap: wrap;
}


header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: calc(100vh + 4em);
    background-color: black;
    flex: 0 1 auto;
    
    
}

header .logo {
    width: 150px;
    margin-top: 1em;
}

nav {
    margin-top: 1.5em;
    margin-left: .5em;
}

.navbar ul,
.navbar1 ul {
    list-style: none;
}

.navbar li,
.navbar1 li {
    line-height: 2em;
}

.navbar a,
.navbar1 a {
    text-decoration: none;
    color: gray;
}

.navbar a:hover,
.navbar1 a:hover {
    color: white;
    border-left: 2px solid greenyellow;
    padding-left: 1em;
    transition: all .4s ease;
}

.navbar1 i {
    padding: 1em;
    background-color: gray;
    color: black;
}

.navbar1 h1 {
    font-size: 1em;
    line-height: 2em;
}

.libreria,
.home,
.download,
.search {
    width: 18px;
    height: 16px;
    line-height: 1em;
}

.profile {
    width: 20px;
    height: 20px;
}

.download,
.profile {
    margin-right: .5em;
}

.profile {
    background-color: gray;
    border-radius: 50%;
}

header .btn{
   position: fixed;
   left: 0;
   background-color: black;
   border: none;
    padding-right: 5em;
   
   
}

header .instal-btn {
    display: flex;
    align-items: center;
    bottom: 8em;
    color: gray;
    border-bottom: 1px solid gray;
    padding-right: 8em ;
    
    
    
}


header .user {
    display: flex;
    align-items: center;
    bottom: 5em;
    font-weight: bold;
    font-size: 1em;
    color: white;
}

.section-main {
    display: flex;
    height: calc(100vh + 4em);
    background-color: gold;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    
       
}

.calltoaction {
    position: fixed;
    width: 90%;
    height: 4em;
    background-color: rgba(0, 0, 0, .5);
    z-index: 10000000;
    display: flex;
    flex-direction: row-reverse;
   

}

.calltoaction button {
    padding: 0px 20px;
    margin: 1em;
    margin-right: 3em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4em;
    text-transform: uppercase;
    justify-self: flex-end;
}

.calltoaction button a {
    text-decoration: none;
    color: white;
}

.calltoaction button a:hover {
    font-weight: bolder;
    
}


.navbar2 {
    display: flex;
    width: 80%;
    height: 4em;
    flex: 1 1 auto;
    justify-content: center;
} 

.navbar2 ul  {
    margin-top: 4em;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    font-size: .8em;
    color: grey;
}

.navbar2 li {
    margin: 0 2em;
}

.navbar2 a {
    color: grey;
    text-decoration: none;
    font-weight: bolder;
}

.navbar2 a:hover { 
    border-bottom: 3px solid greenyellow;
}

.recently-played {
    display: flex;
    flex-wrap: wrap;
}

.recently-played div {
    width: 15%;
}

footer {   
    position:fixed;
    bottom:0;
    width:100%;
    width: 100%;
    height: 5em;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.col-left {
    display: flex;
    align-items: center;
}

.col-left img {
    width: 50px;
    height: 50px; 
    margin-right: 5px ; 
}

.album-title h2{ 
    font-size: 1em;
    margin-right: 5px ;
    
}

.album-title p {
    font-size: .6em;
}

.col-left i {
    margin-right: 5px;
}






