:root {
	--width-header: 4rem;
	--height-overlay-upgrade: 6rem;
	--height-footer: 6rem;
}

@media screen and (min-width: 540px) {
	:root {
		--width-header: 14rem;
	}

  
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
}


.container {
	height: 100vh;
}

header {
	background-color: black;
    width: var(--width-header);
}


.nav-header nav {
    height: 100%;
    min-height: 500px;
}

.nav-header .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    list-style: none;
    gap: 1rem;
    list-style: none;


}


.nav-list li {
    opacity: .5;
}
.nav-list .item-logo {
    opacity: 1;
}
.nav-list li:hover {
    opacity: 1;
}

.nav-header .nav-list a {
    color: white;
    display: block;
    text-decoration: none;
}

.nav-header .item-logo {
    margin-top: .5rem;
}

.nav-header .spaced {
    margin-top: auto;
}

.nav-header img {
    width: 2.5rem;
    
}

.img-download {
    width: 1rem;
    height: 1rem;
}

.profile {
    background-color: gray;
    border-radius: 50%;
    overflow: hidden;
    height: 2.5rem;
    margin-bottom: 1rem;
}


.spaced {
    border-bottom: 1px solid white ;
    padding-bottom: 10px;
}

.hidden-xs {
    display: none;
}

@media screen and (min-width: 540px) {
    .hidden-xs {
        display: block;
    }

    .visible-xs {
        display: none;
    }

    .nav-header .nav-list {
        align-items: flex-start;
    }

    .nav-header .nav-list li {
        padding-left: 2rem;
    }

    .nav-header .nav-list li.active {
        border-left: 3px solid greenyellow;

    }


    .nav-header .nav-list a {
        display: flex;
        align-items: center;

        
    }

   .nav-header .logo-big {
        width: 190px;
    }

}




/* .navbar li,
.navbar1 li {
   margin-bottom: .8rem;
   list-style: none;
}


.navbar a,
.navbar1 a,
.navbar2 a {
    text-decoration: none;
    opacity: .6;
}

.navbar a:hover,
.navbar1 a:hover,
.navbar2 a:hover {
    color: white;
    opacity: 1;
    
}



.navbar1 {
    overflow-y: auto;
}

.navbar1 i {
    padding: 1em;
    background-color: gray;
    color: black;
}

.navbar1 h1 {
    font-size: 1em;
    line-height: 2em;
}





.libreria,
.home,
.search,
.logo-small {
    width: 2em;
    height: 2em;
}

.profile {
    width: 20px;
    height: 20px;
} 

.download,
.profile {
    margin-right: .5em;
}



header .btn{
   position: fixed;
   left: 0;
   background-color: black;
   border: none;
}

header .instal-btn {
    display: flex;
    align-items: center;
    bottom: 9em;
    color: gray;
    border-bottom: 1px solid gray;
}


header .user {
    display: flex;
    align-items: center;
    bottom: 6em;
    font-weight: bold;
    font-size: 1em;
    color: white;
}
 */
.main-content {
	background-color: rgb(8%, 10%, 13%);
}

.main-content .content {
	margin: calc( var(--height-overlay-upgrade) + 1rem) 1rem 2rem 1rem;
}

.player {
	background-color: rgb(18%, 18%, 18%);
}

.overlay-upgrade {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - var(--width-header));
	height: var(--height-overlay-upgrade);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.overlay-upgrade button {
    padding: 0px 20px;
    margin: 2em 1em;
    margin-right: 5em;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4em;
    text-transform: uppercase;
    justify-self: flex-end;
    color: white;
}

.overlay-upgrade button:hover {
 transform: scale(1.1);
    
}


.navbar2 {
    display: flex;
    height: 4em;
    flex: 1 1 auto;
    justify-content: center;
} 

.navbar2 ul  {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: .8em;
    color: grey;
}

.navbar2 li {
    margin: 0 2em;
    display: flex; 
}

.navbar2 a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    opacity: .6;
}




.recently-played .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;
   
}

.playlist {
    width: calc(100vh / 6);
    text-align: center;

}
.playlist img {
    width: 100%;
}

.playlist h2 {
    font-size: 1em;
}

.playlist p {
    font-size: .8em;
    color: gray;
}

.playlist:hover {
    opacity: 1;
}


.nav-header {
	overflow: hidden;
}

.main-content {
	overflow-y: auto;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
.nav-header,
.main-content {
	height: calc(100% - var(--height-footer));
}
.nav-header {
	flex: 0 0 var(--width-header);
}
.main-content {
	flex: 1 0 0;
}

.circle {
    border-radius: 50%;
}
.player {
	flex: 0 0 100%;
	height: var(--height-footer);
}

footer {   
    position:fixed;
    bottom:0;
    width:100%;
    height: 5em;
    background-color: rgb(16%, 16%, 16%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    
}
.col-left {
    display: flex;
    align-items: center;
}

.col-left img {
    width: 50px;
    height: 50px; 
    margin-right: 5px ; 
}

.album-title h2{ 
    font-size: 1em;
    margin-right: 5px ;
    
}

.album-title p {
    font-size: .6em;
}

.col-left i {
    margin-right: 5px;
}

.col-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-audio {
    display: flex;
    align-items: center;
}

.col-middle i {
    margin-right: 30px;
}

.col-middle a {
    color: white;
}

.col-middle .fa-play-circle {
    font-size: 2em;
}

.fa-play-circle:hover {
    font-size: 2.5em;
}

.col-middle .bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.progress {
    margin: 10px 10px;
    width:400px;
    background-color:  grey;
    height: 6px;
    border-radius: 0.5em;
  }

  
  .progress p {
      margin-right: 10px;
     
  }
  
  .progress_bar {
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 0.5em;
  }
  
  .progress_bar:hover {
    background-color: green;
}


  .col-right {
      display: flex;
  }
  .icons-right {
      display: flex;
  }

  .icons-right i {
    margin-right: 15px;
  }

  .col-right .progress {
      width: 100px;
  }